.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20%;
  gap: 10% 1%;
  grid-template-areas:
  ". . . ."
  ". . . .";
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* background-color: rgb(16, 105, 28); */
}

.name {
  text-align: center;
  word-wrap: break-word;
  padding: 1% 10%;
  /* background-color: rgb(16, 105, 28); */
}

.modal {
  margin: 0 10%;
}