.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.center {
  margin: auto;
}
.center div {
  width: 100%;
}

.confirm_block {
  margin-left: auto;
  margin-right: 70px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.overflow {
  overflow: auto;
  max-height: 495px;
}

.fixed_items {
  margin-right: 20px;
}

.total {
  display: flex;
  flex-direction:row;
  align-items: center;
  padding-right: 30px;
}
.total span {
  margin: 0 10px
}