.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.center {
  margin: auto;
}

.confirm_block {
  margin-left: auto;
  margin-right: 70px;
  margin-top: 20px;
}

.overflow {
  overflow: auto;
  height: 600px;
}

.fixed_items {
  margin-right: 20px;
}