a {
  text-decoration: none;
  color: aliceblue;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 70px auto 0;
}

.registration div {
  margin: 10px;
}

.registration {
  width: 480px;
  margin: auto;
  text-align: center;
}
.registration div{
  width: 100%;
}
.registration div div *{
  width: 100%;
}
.registration div div div{
  width: 10%;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto 0;
}

.column {
  margin: 5px;
}

.column.left {
  /* background-color: rgb(0, 0, 172); */
  width: 650px;
}

.column.right {
  /* background-color: rgb(140, 140, 255); */
  width: 650px;
}

