.container {
  width: 100%;
  max-width: 1200px;
  margin: 70px auto 0;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto 0;
}

.column {
  margin: 5px;
}

.column.left {
  /* background-color: rgb(0, 0, 172); */
  width: 650px;
}

.column.right {
  /* background-color: rgb(140, 140, 255); */
  width: 650px;
}

