.modal {
  width: 320px;
  border-radius: 20px;
  padding: 30px 30px 70px;
  margin: auto;
  padding: auto;
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 20%;
  top: 20%;
  width: 60%; /* Full width */
  height: 60%; /* Full height */
  background-color: rgba(0, 0, 0); /* Black w/ opacity */
}