

.header__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid white;  */
}

/* Header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* background-color: aqua; */
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  /* background-color:blue; */
}



/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  display: flex;
  align-items: center;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}


.nav__link:hover {
  color: rgb(135, 113, 216)
}

.nav__link.active {
  color: rgb(135, 113, 216)
}
