.header {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 1300px;
}

.button {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}


.header span {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(135, 113, 216)
}