.header {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 310px;
  height: 80px;
  background-color: rgb(27, 27, 31);
  transition: ease all .5s;
}


.button {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 400px;
  /* background-color: aqua; */
}


.header span {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(135, 113, 216)
}


